@import "tailwindcss";

@font-face {
    font-family: "Teletext" serif;
    src: url(/fonts/EuropeanTeletext.ttf) format(truetype);
}

.prim-blue{
    color: #0604fa;
}

.back-blue{
    background-color: #0604fa;
    color: white;
}